body{
    background-image: url(../img/bedroom-g2c55bffe7_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul div .logo{
     
}

.navbar-brand{
    float: right;
    color: white;
}

ul .nav-item{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.myimg div img{
    width: 80%;
    border-radius: 10px;
}

.myimg div{
    display: inline-flex;
    margin-left: 5%;
}

.myimg div a img:hover{
       width: 90%;
}

.myimg div img{
    
}